.watchMenu {
  position: absolute;
  top: 32px;
  width: 300px;
  font-size: 12px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  z-index: 1;
  z-index: 99;
}

.watchMenuHeader {
  line-height: 16px;
  font-weight: 600;
  color: #24292e;
  padding: 8px 10px;
  border-bottom: 1px solid #e1e4e8;
}
