.projectsMenuTabs {
  padding: 8px 8px 0;
  box-shadow: inset 0 -1px 0 #eaecef;
}

.projectsMenuTabs > button {
  line-height: 1.5;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 16px;
  outline: none;
}

.tabSelect {
  color: #24292e;
  border: 1px solid #eaecef;
  border-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tabSelect:focus {
  background-color: #dbedff;
}

.tabUnselect {
  color: #6a737d;
  border: solid transparent;
  border-width: 1px 1px 0;
  box-shadow: inset 0 -1px 0 #eaecef;
  cursor: pointer;
}

.tabUnselect:hover {
  color: #24292e;
}
