.toolbarItemName {
  display: flex;
  align-items: center;
}

.toolbarItemName > span:nth-child(2) {
  display: none;
  margin-top: 3px;
  margin-left: 4px;
}

@media (min-width: 540px) {
  .toolbarItemName > span:nth-child(2) {
    display: inline-block;
  }
}
