.modalHeader {
  font-weight: 600;
  border-bottom: 1px solid #eaecef;
  display: flex;
  justify-content: space-between;
}

.modalHeader {
  padding: 16px;
}

.close {
  background: #fff;
  outline: 0;
  padding: 0;
  border: 0;
  border-top-right-radius: 12px;
  cursor: pointer;
}

.close:focus path,
.close:hover path {
  fill: #24292e;
}

.close > svg {
  vertical-align: middle;
}

@media (min-width: 544px) {
  .modalHeader {
    padding: 7px 7px 7px 16px;
  }
}
