.status {
  padding: 8px;
  padding-left: 10px;
  border-bottom: 1px solid #e1e4e8;
  display: flex;
  align-items: center;
}

.status > img {
  width: 18px;
  margin-right: 4px;
}

.status > span {
  color: #24292e;
}
