.searchField {
  background-color: #24292e;
  padding: 0 1.2rem;
  justify-content: center;
}

.input {
  outline: none;
  line-height: 15px;
  background-color: #ffffff20;
  color: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  border-style: none;
  margin-bottom: 16px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.input:focus {
  background-color: #fff;
  color: #24292e;
}

.input:focus::placeholder {
  color: #586069;
}

.input:focus + svg {
  display: none;
}

.searchField > svg {
  position: absolute;
  right: 1.2rem;
  margin-top: 5px;
  margin-right: 8px;
}
