.searchField {
  background-color: #24292e;
  padding: 0 1.2rem;
  justify-content: center;
  position: relative;
}

.input {
  outline: none;
  line-height: 15px;
  background-color: #ffffff20;
  color: #fff;
  padding: 0.5rem 0.8rem;
  padding-right: 39px;
  border-radius: 0.4rem;
  border-style: none;
  margin-bottom: 16px;
  transition: 0.2s ease-in-out;
  transition-property: width;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.input:focus::placeholder {
  color: #586069;
}

.input:focus {
  background-color: #fff;
  color: #24292e;
  padding-right: 0.8rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.input:focus + .slash {
  display: none;
}

.input:focus + .slash + div {
  display: block;
}

.slash {
  position: absolute;
  right: 1.2rem;
  margin-top: 5px;
  margin-right: 8px;
}

@media (min-width: 1012px) {
  .input {
    padding-right: 40px;
  }

  .input:focus {
    width: 470px !important;
  }
}
