.modalList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.modalList > a {
  border-bottom: 1px solid #eaecef;
  text-decoration: none;
  display: inline-block;
  color: #24292e;
  width: 100%;
  padding: 16px;
}

.modalList > a:hover,
.modalList > a:focus {
  outline: 0;
  background-color: #f6f8fa;
}

.modalList > :last-child {
  font-weight: 600;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 0;
  display: flex;
  align-items: center;
}

.modalList > :last-child > span {
  margin-left: 8px;
}

@media (min-width: 544px) {
  .modalList > a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
