.filterSearch {
  width: 100%;
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: text;
}

.input {
  background-color: #fafbfc;
  color: #586069;
  padding: 5px 12px;
  border: 1px solid rgb(225, 228, 232);
  border-left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  text-indent: 20px;
  line-height: 20px;
  width: 100%;
}

.input:focus {
  outline: none;
  background-color: #fff;
  border-color: #0366d6;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.input::placeholder {
  color: #6a737d;
  opacity: 0.54;
}
