.issues {
  border: 1px solid #e1e4e8;
  border-top: 0;
}

.issues > div {
  border-top: 1px solid #e1e4e8;
  display: flex;
  position: relative;
}

.issues > div:hover {
  background-color: #f6f8fa;
}
