.issueContainer {
  line-height: 1.25;
  padding: 8px;
  padding-right: 16px;
  flex: auto;
}

.issueTitle {
  text-decoration: none;
  color: #24292e;
  font-size: 16px;
  font-weight: 600;
  margin-right: 4px;
}

.issueLabels {
  display: block;
  line-height: 1.5;
}

.issueLabel {
  display: inline-block;
  text-decoration: none;
  background-color: #d4c5f9;
  color: #000;
  font-size: 12px;
  padding: 0 7px;
  border: 1px solid transparent;
  border-radius: 2em;
  margin-right: 4px;
}

.issueOpened {
  color: #586069;
  font-size: 12px;
  margin-top: 4px;
}

.issueOpened > a {
  text-decoration: none;
  color: #586069;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 770px) {
  .issueContainer {
    padding-right: 8px;
  }
  .issueTitle:hover {
    color: #0366d6;
  }

  .issueLabels {
    display: inline;
  }

  .issueOpened > a:hover {
    color: #0366d6;
  }

  .overlay {
    display: none;
  }
}
