.issueDetails {
  width: 25%;
  padding-top: 8px;
  padding-right: 16px;
  flex-shrink: 0;
  display: none;
}

.issueDetail {
  margin-left: 8px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.issueDetail path {
  fill: #586069;
}

.issueDetail a {
  text-decoration: none;
  color: #586069;
  font-weight: 600;
  font-size: 12px;
  display: flex;
}

.issueDetail img {
  height: 20px;
  margin-right: 0 !important;
  margin-left: 8px;
}

.issueDetail a > span {
  margin-left: 3px;
}

@media (min-width: 540px) {
  .issueDetails {
    display: flex;
  }
}
