.repoContent {
  max-width: 1280px;
  margin: auto;
}

@media (min-width: 540px) {
  .repoContent {
    padding: 0 16px;
  }
}

@media (min-width: 770px) {
  .repoContent {
    padding: 0 24px;
  }
}

@media (min-width: 1010px) {
  .repoContent {
    padding: 0 32px;
  }

  .repoContent > div:first-child {
    background-color: #f6f8fa;
    padding: 16px;
    border: 1px solid #e1e4e8;
    border-bottom: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: space-between;
  }
}
