.toolbarItem {
  text-decoration: none;
  color: #586069;
  padding: 0 16px;
}

.toolbarItem:hover {
  color: #24292e;
}

.textContent {
  display: flex;
  align-items: center;
}

.textContent > span:nth-child(2) {
  display: none;
  margin-top: 3px;
  margin-left: 4px;
}

@media (min-width: 540px) {
  .textContent > span:nth-child(2) {
    display: inline-block;
  }
}
