.repoInfo {
  padding: 0 16px;
  max-width: 1280px;
  margin: 0 auto;
}

.repoInfo > div {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .repoInfo {
    padding: 0 24px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
  }

  .repoInfo > div {
    justify-content: flex-end;
  }

  .repoInfo > :first-child {
    margin-left: 16px;
  }
}

@media (min-width: 1012px) {
  .repoInfo {
    padding: 0 32px;
  }
}
