.footerItem {
  text-decoration: none;
  font-size: 12px;
  margin-right: 16px;
  color: #0366d6;
}

.footerItem:last-child {
  margin-right: 0;
}

.footerItem:hover {
  text-decoration: underline;
}

@media (min-width: 1012px) {
  .footerItem {
    margin-right: 0;
  }
}
