.repoNavMenu {
  list-style-type: none;
  background-color: #fff;
  width: 160px;
  padding: 8px 0;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  margin: 2px 0 0;
  line-height: 1.5;
  position: absolute;
  right: 16px;
  box-shadow: 0 8px 24px #959da533;
  z-index: 1;
}

.repoNavMenu::before,
.repoNavMenu::after {
  position: absolute;
  left: auto;
  display: inline-block;
  content: '';
}

.repoNavMenu::before {
  top: -16px;
  right: 9px;
  border: 8px solid transparent;
  border-bottom-color: #1b1f2326;
}

.repoNavMenu::after {
  top: -14px;
  right: 10px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
}

.repoNavMenu > li > a {
  color: #24292e;
  padding: 8px 8px 8px 16px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.repoNavMenu > li > a:hover,
.repoNavMenu > li > a:focus {
  outline: none;
  background-color: #0366d6;
  color: #fff;
}

@media (min-width: 544px) {
  .repoNavMenu {
    padding: 4px 0;
  }

  .repoNavMenu > li > a {
    padding: 4px 8px 4px 16px;
  }
}

@media (min-width: 768px) {
  .repoNavMenu {
    right: 24px;
  }
}

@media (min-width: 980px) {
  .repoNavMenu {
    display: none;
  }
}
