.previous::before,
.next::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  content: '';
  background-color: currentColor;
}

.previous {
  color: #6a737d;
  padding: 5px 10px;
  margin-right: 4px;
}

.previous::before {
  margin-right: 4px;
  clip-path: polygon(
    9.8px 12.8px,
    8.7px 12.8px,
    4.5px 8.5px,
    4.5px 7.5px,
    8.7px 3.2px,
    9.8px 4.3px,
    6.1px 8px,
    9.8px 11.7px,
    9.8px 12.8px
  );
}

.next {
  display: inline-block;
  text-decoration: none;
  color: #0366d6;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 6px;
  margin-left: 4px;
  transition: border-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.next::after {
  margin-left: 4px;
  clip-path: polygon(
    6.2px 3.2px,
    7.3px 3.2px,
    11.5px 7.5px,
    11.5px 8.5px,
    7.3px 12.8px,
    6.2px 11.7px,
    9.9px 8px,
    6.2px 4.3px,
    6.2px 3.2px
  );
}

.next:hover,
.next:focus {
  border-color: #e1e4e8;
  outline: 0;
  transition-duration: 0.1s;
}

@media (min-width: 544px) {
  .next {
    margin-left: 0;
  }
}
