.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24292e;
  padding: 16px;
}

.header button:hover path,
.header button:focus path,
.header a:hover path,
.header a:focus path {
  fill: #ffffffb3;
}

@media (min-width: 1012px) {
  .header > div {
    padding: 0 16px;
  }
}
