.repoHead {
  background-color: #fafbfc;
  border-bottom: 1px solid #e1e4e8;
}

.repoHead > :nth-child(1),
.repoHead > :nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.repoHead > :nth-child(1) {
  padding: 16px 16px 0;
  line-height: 1.5;
}

.repoHead > :nth-child(2) {
  padding: 0 16px;
  align-items: center;
}

@media (min-width: 770px) {
  .repoHead > :nth-child(1) {
    padding: 16px 24px 0;
  }

  .repoHead > :nth-child(2) {
    padding: 0 24px;
  }
}

@media (min-width: 1010px) {
  .repoHead > :nth-child(1) {
    padding: 16px 32px 0;
  }

  .repoHead > :nth-child(2) {
    padding: 0 32px;
  }
}
