.newIssue {
  text-decoration: none;
  background-color: #2ea44f;
  color: #fff;
  padding: 5px 16px;
  border: 1px solid #1b1f2326;
  border-radius: 6px;
  font-weight: 500;
  white-space: nowrap;
}

.newIssue:hover {
  background-color: #2c974b;
}

.newIssue:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(46, 164, 79, 0.4);
}

@media (min-width: 768px) {
  .newIssue {
    margin-left: 16px;
  }
}
