.userPopover {
  width: 360px;
  min-width: 320px;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  position: absolute;
  bottom: 35px;
  z-index: 1;
}

.userPopover::before {
  content: '';
  border: 8px solid transparent;
  border-top-color: rgba(27, 31, 35, 0.149);
  position: absolute;
  bottom: -16px;
  left: 25px;
}

.userPopover::after {
  content: '';
  border: 7px solid transparent;
  border-top-color: #fff;
  position: absolute;
  bottom: -14px;
  left: 26px;
}

.positionPopoverAtBottom {
  bottom: auto;
}

.positionPopoverAtBottom::before {
  border-top-color: transparent;
  border-bottom-color: rgba(27, 31, 35, 0.149);
  top: -16px;
  bottom: auto;
}

.positionPopoverAtBottom::after {
  border-top-color: transparent;
  border-bottom-color: #fff;
  top: -14px;
  bottom: auto;
}
