.issueDetails {
  width: 25%;
  padding-top: 8px;
  padding-right: 16px;
  flex-shrink: 0;
  display: none;
}

.issueDetail {
  margin-left: 8px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.issueDetail path {
  fill: #586069;
}

.issueDetail a {
  text-decoration: none;
  color: #586069;
  font-size: 12px;
  display: flex;
}

.issueDetail a:focus::before,
.issueDetail a:focus::after {
  display: none;
}

.issueDetail img {
  width: 20px;
  border-radius: 50%;
}

.issueDetail a:hover::after {
  right: 16px;
}

.issueDetail a > span {
  font-weight: 600;
  margin-left: 3px;
}

@media (min-width: 544px) {
  .issueDetails {
    display: flex;
  }
}
